/* showing the JQGrid table as 100% width for the browser resizing */
.ui-jqgrid-bdiv{
overflow:scroll !important;
}
.ui-jqgrid {
	width: 100% !important;
}

.ui-jqgrid-view {
	width: 100% !important;
}

.ui-jqgrid-view div {
	width: 100% !important;
}

.ui-corner-bottom {
	width: 100% !important;
}

/* added by Nehal */
th.ui-th-column div {
	white-space: normal !important;
	height: auto !important;
	padding-right: 7px;
}

.tablediv{
	padding: 5px 5px 10px 5px !important;
}
